appdirs==1.4.3
certifi==2019.11.28
cffi==1.12.1
chardet==3.0.4
Click==7.0
docutils==0.14
dominate==2.5.1
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-Session==0.3.1
gunicorn==20.0.4
hyperlink==18.0.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
lazy-object-proxy==1.4.3
lxml==4.3.1
Markdown==3.2.1
MarkupSafe==1.1.1
parsel==1.5.1
path-and-address==2.0.1
pbr==5.4.4
Pillow==8.2.0
psycopg2==2.8.4
pyasn1==0.4.2
pyasn1-modules==0.2.4
pycparser==2.19
PyDispatcher==2.0.5
pylint==2.4.4
pylint-plugin-utils==0.6
PyMySQL==0.9.3
pyOpenSSL==19.0.0
python-dateutil==2.6.1
pytz==2019.1
Werkzeug==0.15.2

