{% extends "base.html" %}

{% block content %}
<section class="container">
    <article class="row">
        <div class="col">
            <h3>How to use the MBPM Service Issue Tracker</h3>
            <p>
                Your place of residence is your castle, your sanctuary, your place of peace and happiness, the place you look 
                forward to going back to at the end of a long day of work. Unfortunately, as we all know, things can break and 
                unforseen events can happen that disrupt that peace and happiness and can make your residence not feel so much
                like your sanctuary.
            </p>
            <p>
                MBPM is here to ensure that whatever goes wrong is resolved as quickly as possible, putting your sanctuary 
                back to the way it was with as little disruption as possible. To help us do that, we have created this web site 
                that allows you to report an issue with us. You can track its progress towards resolution as well as how the issue
                was resolved. We have worked really hard at MBPM to make the service issue tracker (SIT) as intuitive as possible
                and available on all device types. However, if you need a little more guidance, please read on.
            </p>
            
            <div class="row my-2">
                <div class="col">
                    <hr class="fancy">
                </div>
            </div>

            <p><a class="show-hide-detail howitworks-toggle" data-toggle="collapse" href="#issues-service"><i class="cta-icon fa fa-caret-right pr-1"></i>Issues Reporting and Tracking Service</a></p>
            <div id="issues-service" class="collapse">
                <section class="container mt-2">
                    <article class="row justify-content-center align-items-center mb-2">
                        <div class="col-12 col-md-10 text-center">
                            <div class="row">
                                <div class="pr-1">
                                    <div class="col-xs-6 col-md-3 text-right">
                                        <span class="hiw-steps fa-stack fa-3x">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x fa-stack-text">1</strong>
                                        </span>       
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-9 text-left pl-2">
                                    <h5 class="howitworks">Register with MBPM</h5>
                                    <p>
                                        In order to view or create issues, you must have a MBPM account. Click the login button or menu item
                                        on the MBPM landing page it will take you to the login page that allows you to log in or create an account.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row justify-content-center align-items-center mb-2">
                        <div class="col-12 col-md-10 text-center">
                            <div class="row">
                                <div class="pr-1">
                                    <div class="col-xs-6 col-md-3 text-right">
                                        <span class="hiw-steps fa-stack fa-3x">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x fa-stack-text">2</strong>
                                        </span>       
                                    </div>
                                </div>
                                <div id="log-issue" class="col-xs-6 col-md-9 text-left pl-2">
                                    <h5 class="howitworks">Log an issue</h5>
                                    <p>
                                        If you have run into an issue and are logged in, you may enter a new issue by clicking on 
                                        the "Add Issues" button below the list of existing issues. Note: you cannot get to the issues 
                                        page unless you are logged in.
                                    </p>
                                    <p>
                                        When entering a issue, you will be require to choose a category for the issue. Not all issues are bad!
                                        Below are the categories of issues:
                                        <ul>
                                            <li><strong>Comment</strong> - For making general comments about your property or our service.</li>
                                            <li><strong>Complaint</strong> - This could range from something we may be doing wrong to building tenants putting things in communal areas.</li>
                                            <li><strong>Question</strong> - A general inquiry, for example a question about your service charge.</li>
                                            <li><strong>Repair</strong> - Something on your property needs repairing.</li>
                                            <li><strong>Suggestion</strong> - For example, something we could do better or something that could improve the property.</li>
                                        </ul>
                                    </p>
                                    <p>
                                        Give the issue a title/subject and provide a detailed description. You also have the ability to categorise it as
                                        an urgent issue. We ask that you please be discretionary with this setting. On a laptop or desktop device, once 
                                        you save the issue you will see it as the very first item on the issues page with a either 
                                        a <span>&nbsp;<i class="cta-icon emphasis-colour fa fa-pencil"></i>&nbsp;</span> if the issue is urgent or 
                                        a <span>&nbsp;<i class="cta-icon fa fa-pencil"></i>&nbsp;</span> for non-urgent issues. This acts as a link enabling
                                        you to edit the issue. You may also edit the issue by clicking on the issue id. On smaller devices, you will see
                                        a button labeled "Edit Issue". It will be red if the issue is urgent.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row justify-content-center align-items-center mb-2">
                        <div class="col-12 col-md-10 text-center">
                            <div class="row">
                                <div class="pr-1">
                                    <div class="col-xs-6 col-md-3 text-right">
                                        <span class="hiw-steps fa-stack fa-3x">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x fa-stack-text">3</strong>
                                        </span>       
                                    </div>
                                </div>
                                <div id="view-issues" class="col-xs-6 col-md-9 text-left pl-2">
                                    <h5 class="howitworks">Viewing and Filtering Issues</h5>
                                    <p>
                                        The main issues dashboard gives you an overview of each issue. As previously stated,
                                        you may only edit issues that you have created. Issues that were not created by you will
                                        have this <span>&nbsp;<i class="cta-icon fa fa-eye"></i>&nbsp;</span> icon next to them. If it
                                        is urgent, the icon will be red. You can view the details of an issue anyone has created by clicking 
                                        on this <span>&nbsp;<i class="cta-icon fa fa-caret-right"></i>&nbsp;</span> widget that is left of
                                        the listed issue. Below the issue a section expands showing more detail about the issue, including 
                                        its current status.
                                    </p>
                                    <p>
                                        Issues have 3 statuses:
                                        <ul>
                                            <li><strong>Not Viewed</strong> - A newly created issue that has yet to be viewed by MBPM</li>
                                            <li><strong>Viewed</strong> - This has been viewed by MBPM and we have been in touch with you discussing next steps</li>
                                            <li><strong>Resolved</strong> - The issue has been resolved</li>
                                        </ul>
                                    </p>
                                    <p>
                                        You may filter what issues display on the dashboard. To filter by category and/or issue status, click on 
                                        this <span>&nbsp;<i class="cta-icon fa fa-filter"></i>&nbsp;</span> in the upper right hand of the dashboard
                                        panel. When clicked, a dialog box appears allowing you to toggle on and off which categories with what 
                                        statuses you would like to see. Just click on the green circle and it will become red, indicating you do not
                                        want to see that status or category. Click it again, it will turn green indicating you do want it included in
                                        your filter criteria. You must have at least one category and one status selected. Click the Filter 
                                        button and you will be taken back to the dashboard showing only those categories and statuses included in 
                                        the filter. When you have a filter applied, the filter icon changes to this — 
                                        <span class="cta-icon-on" style="font-weight: 500;">Filter Applied&nbsp;<i class="fa fa-filter"></i>&nbsp;</span> 
                                        — on the dashboard.
                                    </p>
                                    <p>
                                        You also have the ability to search issues. Entering in search criteria will search both the issue 
                                        subject/title and the issue description fields for the text you enter. To perform a search, enter the 
                                        text you would like to search for in the search box at the top of the issues panel. You can enter up to 60
                                        characters. You may search for multiple terms by separating the text with a ",". When you do that, it creates
                                        an "or" statement. This means that if you enter something like "rubbish, sink, floor" that all issues is which 
                                        the issue subject or description contains "rubbish" or "sink" or "floor" will be returned from the database and
                                        display in the panel. If you do not separate terms with commas, then the entire text will be searched; for example,
                                        "rubbish sink floor" will look for all issues that contain that exact text in aforementioned fields. Click 
                                        this &nbsp;<i class="cta-icon fa fa-search"></i>&nbsp;</span> icon to perform the search. 
                                        Click this &nbsp;<i class="cta-icon fa fa-search-minus"></i>&nbsp;</span> icon to clear the search. Note: if you currently 
                                        have filter applied, performing a search clears the filter.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>

            <p><a class="show-hide-detail howitworks-toggle" data-toggle="collapse" href="#features-service"><i class="cta-icon fa fa-caret-right pr-1"></i>MBPM Administrators</a></p>
            <div id="features-service" class="collapse">
                <section class="container mt-2">
                    <article class="row justify-content-center align-items-center mb-2">
                        <div class="col-12 col-md-10 text-center">
                            <div class="row">
                                <div class="pr-1">
                                    <div class="col-xs-6 col-md-3 text-right">
                                        <span class="hiw-steps fa-stack fa-3x">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x fa-stack-text">1</strong>
                                        </span>       
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-9 text-left pl-2">
                                    <h5 class="howitworks">Issues Statuses</h5>
                                    <p>
                                        As an MBPM administrator you have the ability to view and edit all issues. It is also your responsibility
                                        to change the status of issues as they progress — first to Viewed once you have contacted the tenant 
                                        regarding their issue and then to resolved once the issue is resolved. See the 
                                        <a href="#log-issue">Log Issue</a> and the <a href="#view-issues">Viewing and Filtering</a> sections
                                        for more information. You may also mark an issue as resolved even though it is in the "Not Viewed" state. 
                                        See more below.
                                    </p>
                                    <p>
                                        Although you can edit an issue, the only way an issue status can be changed is in the expandable detail 
                                        section of the issue on the Issues dashboard. Click on this 
                                        <span>&nbsp;<i class="cta-icon fa fa-caret-right"></i>&nbsp;</span> widget that is left of
                                        the listed issue. Below the issue a section expands showing more detail about the issue, including 
                                        its current status. In the row displaying the status, you will see this 
                                        <span>&nbsp;<i class="cta-icon fa fa-eye"></i>&nbsp;</span> icon if the tenant has not been contacted by
                                        MBPM. Once you contact the tenant, click this icon to change the status to "Viewed". The status changes
                                        automatically in the dashboard and that icon will no longer be there.
                                    </p>
                                    <p>
                                        For all issues that have NOT been resolved, you will see this 
                                        <span>&nbsp;<i class="cta-icon fa fa-check"></i>&nbsp;</span> icon. Click this to mark an issue as resolved. 
                                        When you click that, a dialog box appears requiring you to enter details as to how the issue was resolved.
                                        The resolution will appear in the details of the issue on the issues dashboard. Once the issue has been 
                                        resolved, the owner/creator of the issue will no longer be able to edit it and the icon next to the issue 
                                        on the dashboard will be the <span>&nbsp;<i class="cta-icon fa fa-eye"></i>&nbsp;</span> icon. At that point,
                                        clicking on it will do nothing more than display the detail.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row justify-content-center align-items-center mb-2">
                        <div class="col-12 col-md-10 text-center">
                            <div class="row">
                                <div class="pr-1">
                                    <div class="col-xs-6 col-md-3 text-right">
                                        <span class="hiw-steps fa-stack fa-3x">
                                            <i class="fa fa-circle-o fa-stack-2x"></i>
                                            <strong class="fa-stack-1x fa-stack-text">2</strong>
                                        </span>       
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-9 text-left pl-2">
                                    <h5 class="howitworks">Categories</h5>
                                    <p>
                                        As mentioned above, there are standard catgories out of the box. However, as an administrator you have 
                                        the ability to create new categories as well as edit any category. However, you are not able to 
                                        delete a category. You can mark a category as inactive. When doing so, issues with that category no longer 
                                        display in the issues dashboard nor does the category show up in the filter dialog box.
                                    </p>
                                    <p>
                                        To get to the Categories dashboard, click on the "Categories" menu option or "Categories" button on the 
                                        landing page. These are only available to administrators. An administrator will have the 
                                        <span>&nbsp;<i class="fa fa-user-plus"></i>&nbsp;</span> icon next to the "Profile" menu item, whilst
                                        regular users will have the <span>&nbsp;<i class="fa fa-user"></i>&nbsp;</span> icon next to it.
                                    </p>
                                    <p>
                                        To add a category, simple click the "Add Categories" button at the bottom of the list on the Categories 
                                        dashboard. To edit a category, click the <span>&nbsp;<i class="cta-icon fa fa-check"></i>&nbsp;</span> 
                                        next to the category on the dashboard.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </article>
</section>
{% endblock %}