{% extends "base.html" %}

{#
    The word "content" can be almost anything. However, that
    word would have to be the same in the {%block%} in base.html
#}
{% block content %}

<section>
    <div class="container">
        <h2 class="form-heading">Issues</h2>
        <div class="row panel mt-1 mb-3">
            <div class="col-12 pb-3">
                <div class="row">
                    <div class="col-6 text-left">
                        <form action="{{ url_for('main.search_issues') }}" method="POST">
                            <div class="row">
                                <div class="col-10">
                                    <input id="search-string" name="search-string" class="form-control" type="text" maxlength="60" value="{{ search_str }}" placeholder="Search...">
                                </div>
                                <div class="col-1 search-col"><button class="icon-submit-btn" type="submit" name="search" data-toggle-1="tooltip" data-placement="top" title="Click to search."><i class="cta-icon fa fa-search fa-2x"></i></button></div>
                                {% if search_str|length %}
                                <div class="col-1 search-col"><button id="clear-search" class="icon-submit-btn" type="submit" name="clear-search" data-toggle-1="tooltip" data-placement="top" title="Click to clear search filter."><i class="cta-icon fa fa-search-minus fa-2x"></i></button></div>
                                {% endif %}
                            </div>
                        </form>  
                    </div>
                    <div class="col-6 text-right align-self-center">
                        {% if omitted_cats == False and omitted_status == False %}
                        <a href="/" data-toggle="modal" data-target="#filter-modal" data-toggle-1="tooltip" data-placement="right" title="Click to filter issues."><i class="cta-icon fa fa-filter fa-2x"></i></a>
                        {% else %}
                        <span class="cta-icon-on">Filter Applied</span>
                        <a href="/" data-toggle="modal" data-target="#filter-modal" data-toggle-1="tooltip" data-placement="right" title="Click to filter issues."><i class="cta-icon cta-icon-on fa fa-filter fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>        
            </div>
            <div class="col-12">
                <!-- Hidden on mobile -->
                <div class="row heading d-none d-md-flex">
                    <div class="col-2"><h5>Category</h5></div>
                    <div class="col-2"><h5>Issue Id</h5></div>
                    <div class="col-3"><h5>Issue</h5></div>
                    <div class="col-2"><h5>Date Added</h5></div>
                    <div class="col-2 pl-4"><h5>Status</h5></div>
                </div>
                <!---------------------->
            </div>

            <div class="col-12">
                <hr>
            </div>

            {% for issue in issues %}
            <div class="col-12">
                <!-- Hidden on mobile -->                
                <div class="row d-none d-md-flex">
                    <div class="col-2"><p><a class="toggle-caret show-hide-detail" href="#details-{{ issue['issueId'] }}" data-toggle="collapse" data-toggle-1="tooltip" data-placement="top" data-title-alt="Click to hide detail." data-id="{{ issue['issueId'] }}" title="Click to view detail."><i id="caret-widget-{{issue['issueId']}}" class="cta-icon view-details fa fa-caret-right"></i></a>{{ issue['catName'] }}</p></div>
                    {% if (issue['issueStatusVal'] != resolved()) and (is_superuser() or current_user.get_id() == issue['acctId']) %}
                    <div class="col-2"><a class="btn btn-link-sit" href="{{ url_for('main.edit_issue', issue_id=issue['issueId']) }}" data-toggle-1="tooltip" data-placement="top" title="Click to edit issue.">{{ issue['issueId'] }}</a></div>
                    {% else %}
                    <div class="col-2"><a class="btn btn-link-sit show-hide-detail" href="#details-{{ issue['issueId'] }}" data-toggle="collapse" data-toggle-1="tooltip" data-placement="top" data-title-alt="Click to hide detail." title="{{ 'Issue resolved. Cannot edit. ' if issue['issueStatusVal'] == resolved() }}Click to view detail.">{{ issue['issueId'] }}</a></div>
                    {% endif %}
                    <div class="col-3"><p>{{ issue['issueSubj'] }}</p></div>
                    <div class="col-2"><p>{{ issue['dateAdded'] }}</p></div>
                    <div class="col-2 pl-4">
                        <p>
                            {{ issue['issueStatus'] }}
                            {% if (issue['issueStatusVal'] != resolved()) and (is_superuser() or current_user.get_id() == issue['acctId']) %}
                                <a 
                                    class="cta-edit" href="{{ url_for('main.edit_issue', issue_id=issue['issueId']) }}" data-toggle-1="tooltip" data-placement="top" title="Click to edit issue.">
                                    {% if issue['urgent'] == 'Yes' %}
                                    <i class="cta-icon emphasis-colour last-col fa fa-pencil"></i>
                                    {% else %}
                                    <i class="cta-icon last-col fa fa-pencil"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                            <a 
                                class="cta-edit show-hide-detail" href="#details-{{ issue['issueId'] }}" data-toggle="collapse" data-toggle-1="tooltip" data-placement="top" data-title-alt="Click to hide detail." title="{{ 'Issue resolved. Cannot edit. ' if issue['issueStatusVal'] == resolved() }}Click to view detail.">
                                {% if issue['urgent'] == 'Yes' %}
                                <i class="cta-icon emphasis-colour last-col fa fa-eye"></i>
                                {% else %}
                                <i class="cta-icon last-col fa fa-eye"></i>
                                {% endif %}
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <!---------------------->

                <!-- Hidden on desktop -->
                <div class="row d-md-none">
                    <div class="col-12">
                        <p><span class="detail-label">Category: </span>{{ issue['catName'] }}</p>
                        <p><span class="detail-label">Issue Id: </span>{{ issue['issueId'] }}</p>
                        <p><span class="detail-label">Issue: </span>{{ issue['issueSubj'] }}</p>
                        <p><span class="detail-label">Date Added: </span>{{ issue['dateAdded'] }}</p>
                        <p><span class="detail-label">Status: </span>{{ issue['issueStatus'] }}</p>
                        <p class="text-center">
                            {% if (issue['issueStatusVal'] != resolved()) and (is_superuser() or current_user.get_id() == issue['acctId']) %}
                                {% if issue['urgent'] == 'Yes' %}
                                <a 
                                    class="btn btn-sit btn-sit-cta-edit-urgent" role="button" href="{{ url_for('main.edit_issue', issue_id=issue['issueId']) }}">
                                    Edit Issue
                                </a>
                                {% else %}
                                <a 
                                    class="btn btn-sit btn-sit-cta-edit" role="button" href="{{ url_for('main.edit_issue', issue_id=issue['issueId']) }}">
                                    Edit Issue
                                </a>
                                {% endif %}
                            {% else %}
                                {% if issue['urgent'] == 'Yes' %}
                                <a 
                                    class="btn btn-sit btn-sit-cta-view-urgent" role="button" href="#details-{{ issue['issueId'] }}" data-toggle="collapse">
                                    View Issue
                                </a>
                                {% else %}
                                <a 
                                    class="btn btn-sit btn-sit-cta-view" role="button" href="#details-{{ issue['issueId'] }}" data-toggle="collapse">
                                    View Issue
                                </a>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <a class="detail-toggle my-3" data-toggle="collapse" href="#details-{{ issue['issueId'] }}" aria-expanded="false" aria-controls="collapse-more" data-alt-text="Hide Detail">Show Detail</a>
                    </div>
                </div>
                <!----------------------->

                <!-- Issue details -->
                <div class="container">
                
                    <!-- Having the panel inside the div.collapse results in a smoother collapse. -->
                    <div id="details-{{ issue['issueId'] }}" class="collapse">
                        <!-- Hidden on mobile -->
                        <div class="row panel detail-panel d-none d-md-flex">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Id:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['issueId'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Added By:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['addedByName'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Date Added:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['dateAdded'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Issue:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['issueSubj'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Description:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['issueDesc'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Urgent:</p>
                                    </div>
                                    <div class="col-8">
                                        {% if issue['urgent'] == 'Yes' %}
                                        <p class=" emphasis-colour">{{ issue['urgent'] }}</p>
                                        {% else %}
                                        <p>{{ issue['urgent'] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Status:</p>
                                    </div>
                                    <div class="col-2">
                                        <p>{{ issue['issueStatus'] }}</p>
                                    </div>
                                    {% if is_superuser() %}
                                    <div class="col-2">
                                        {% if issue['issueStatusVal'] < viewed() %}
                                        <a href="{{ url_for('main.upd_issue_status', issue_id=issue['issueId'], issue_status=viewed()) }}" data-toggle-1="tooltip" data-placement="top" title="Click to change status to 'Viewed'"><i class="cta-icon fa fa-eye"></i></a>
                                        {% endif %}
                                        {% if issue['issueStatusVal'] < resolved() %}
                                            <span class="mx-3"></span>
                                        <a class="resolve-iss" href="/" data-toggle="modal" data-target="#resolve-modal" data-toggle-1="tooltip" data-placement="top" data-iss-id="{{ issue['issueId'] }}" data-iss-subj="{{ issue['issueSubj'] }}" title="Click to change status to 'Resolved'"><i class="cta-icon fa fa-check"></i></a>
                                        {% endif %}
                                        {% if issue['issueStatusVal'] != notviewed() and testing() %}
                                            <span class="mx-3"></span>
                                        <a href="{{ url_for('main.upd_issue_status', issue_id=issue['issueId'], issue_status=notviewed()) }}" data-toggle-1="tooltip" data-placement="top" title="Click to change status to 'Not Viewed'"><i class="cta-icon fa fa-eye-slash"></i></a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% if issue['issueStatusVal'] == resolved() %}
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Date Resolved:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['dateResolved'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Resolved By:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['resolvedByName'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p class="detail-label">Resolution:</p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{ issue['resolutionDesc'] }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>                            
                        </div>
                        <!---------------------->
                        <!-- Hidden on desktop -->
                        <div class="row panel detail-panel d-md-none">
                            <div class="col-12 detail-col">
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Id:</span>{{ issue['issueId'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Added By:</span>{{ issue['addedByName'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Date Added:</span>{{ issue['dateAdded'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Issue:</span>{{ issue['issueSubj'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="detail-label">Description:</p>
                                        <p>{{ issue['issueDesc'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <span class="detail-label">Urgent:</span>
                                            {% if issue['urgent'] == 'Yes' %}
                                            <span class="emphasis-colour">{{ issue['urgent'] }}</span>
                                            {% else %}
                                            <span>{{ issue['urgent'] }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p><span class="detail-label">Status:</span>{{ issue['issueStatus'] }}</p>
                                    </div>
                                    {% if is_superuser() %}
                                    <div class="col-6">
                                        {% if issue['issueStatusVal'] < viewed() %}
                                        <a href="{{ url_for('main.upd_issue_status', issue_id=issue['issueId'], issue_status=viewed()) }}" data-toggle-1="tooltip" data-placement="top" title="Click to change status to 'Viewed'"><i class="cta-icon fa fa-eye"></i></a>
                                        {% endif %}
                                        {% if issue['issueStatusVal'] < resolved() %}
                                            <span class="mx-3"></span>
                                        <a class="resolve-iss" href="/" data-toggle="modal" data-target="#resolve-modal" data-toggle-1="tooltip" data-placement="top" data-iss-id="{{ issue['issueId'] }}" data-iss-subj="{{ issue['issueSubj'] }}" title="Click to change status to 'Resolved'"><i class="cta-icon fa fa-check"></i></a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% if issue['issueStatusVal'] == resolved() %}
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Date Resolved: </span>{{ issue['dateResolved'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Resolved By: </span>{{ issue['resolvedByName'] }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><span class="detail-label">Resolution: </span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>{{ issue['resolutionDesc'] }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!----------------------->
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            {% else %}
            <p>No issues found</p>
            {% endfor %}
        </div>
    </div>

    <div class="row pt-1 text-right">
        <div class="col-xs-12 offset-md-9 col-md-3">
            <a href="{{ url_for('main.add_issue') }}" class="btn btn-sit btn-sit-cta-add">Add Issue</a>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="resolve-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Issue Resolved</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 center-block">
                            <form class="form-container" action="{{ url_for('main.resolve_issue') }}" method="POST">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="curr-iss-id" class="control-label">Issue Id: </label>
                                                <input type="text" id="curr-iss-id" name="curr-iss-id" aria-readonly="readonly" value="" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="curr-iss-subj" class="control-label">Issue Subject: </label>
                                                <input type="text" id="curr-iss-subj" name="curr-iss-subj" aria-readonly="readonly" value="" readonly />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="iss-res-desc">Resolution Detail *</label>
                                                <div>
                                                    <textarea name="iss-res-desc" cols="100" rows="10" class="form-control sit-required char-countdown form-control" aria-describedby="issue resolution description" placeholder="Enter detailed resolution description" minlength="1" maxlength="1000" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="char-count">
                                        <div class="col-12 text-right">
                                            <small class="form-text">Characters remaining: <span class="char-count">1000</span></small>
                                        </div>
                                    </div>

                                    <hr class="fancy">

                                    <div class="row mt-3">
                                        <div class="col-xs-12 offset-md-1 col-md-5">
                                            <p class="text-center">
                                                <a href="{{ url_for('main.get_issues') }}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-50">Cancel</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-md-5">
                                            <p class="text-center">
                                                <button id="submit-btn" type="submit" name="submit-btn" class="btn btn-sit btn-sit-submit w-50 sit-disabled">Resolved</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="filter-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Filter Issues</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="form-container" action="{{ url_for('main.get_issues') }}" method="POST">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4>Category Filters</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4>Status Filters</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row mb-1">
                                                <!-- Hidden on mobile -->
                                                <div class="col-6 d-none d-md-block text-right">
                                                    <label>All Categories</label>
                                                </div>
                                                <!---------------------->
                                                <!-- Hidden on desktop -->
                                                <div class="col-6 d-md-none">
                                                    <label>All</label>
                                                </div>
                                                <!----------------------->
                                                <div class="col-6 filter-toggle">
                                                    {% if omitted_cats %}
                                                    <button id="all-cats-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-not-selected"></button>
                                                    {% else %}
                                                    <button id="all-cats-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-selected"></button>
                                                    {% endif %}
                                                </div>
                                            </div>    
                                            {% for cat in config.CATS %}
                                            <div class="row mb-1">
                                                <div class="col-6 detail-label">
                                                    <label>{{cat['catName']}}s</label>
                                                </div>
                                                <div class="col-6 filter-toggle">
                                                    {%if cat['filter_status'] == "0" %}
                                                    <button name="{{ cat['catName'] }}-{{ cat['catId'] }}" class="cat-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-not-selected" value="0"></button>
                                                    <input class="hide cat-filter-toggle" name="cat-{{cat['catId']}}" value="0" />
                                                    {% else %}
                                                    <button name="{{ cat['catName'] }}-{{ cat['catId'] }}" class="cat-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-selected" value="1"></button>
                                                    <input class="hide cat-filter-toggle" name="cat-{{ cat['catId'] }}" value="1" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-6">
                                            <div class="row mb-1">
                                                <!-- Hidden on mobile -->
                                                <div class="col-6 d-none d-md-block text-right">
                                                    <label>All Statuses</label>
                                                </div>
                                                <!---------------------->
                                                <!-- Hidden on desktop -->
                                                <div class="col-6 d-md-none">
                                                    <label>All</label>
                                                </div>
                                                <!----------------------->
                                                <div class="col-6 filter-toggle">
                                                    {% if omitted_status %}
                                                    <button id="all-iss-status-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-not-selected"></button>
                                                    {% else %}
                                                    <button id="all-iss-status-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-selected"></button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% for k, v in config.ISS_STATUS.items() %}    
                                            <div class="row mb-1">
                                                <div class="col-6 detail-label">
                                                    <label>{{ v['display'] }}</label>
                                                </div>
                                                <div class="col-6 filter-toggle">
                                                    {% if v['filter_status'] == "0" %}
                                                    <button name="{{ key }}-{{ v['id'] }}" class="iss-status-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-not-selected" value="0"></button>
                                                    <input class="hide iss-status-filter-toggle" name="status-{{ v['id'] }}" value="0" />
                                                    {% else %}
                                                    <button name="{{ key }}-{{ v['id'] }}" class="iss-status-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-selected" value="1"></button>
                                                    <input class="hide iss-status-filter-toggle" name="status-{{ v['id'] }}" value="1" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <hr class="fancy">

                                    <div class="row mt-2 pt-2">
                                        <div class="col-xs-12 offset-md-1 col-md-5">
                                            <p class="text-center">
                                                <a href="{{ url_for('main.get_issues') }}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-75">Cancel</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-md-5">
                                            <p class="text-center">
                                                <button id="submit-btn" type="submit" name="submit-btn" class="btn btn-sit btn-sit-submit w-75">Filter</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
