<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap4-toggle.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <div class="wrapper">
    <header class ="page-header px-0 py-0">
        <div class="container">
            <nav class="navbar navbar-expand-lg shift navbar-light navbar-ua px-0 py-0">
                <a class="navbar-brand py-3 pl-3 py-md-4 pl-md-4" href="#">
                    <img src="{{url_for('static', filename='images/sit-logo-sm-100x102.png')}}" />
                </a>
                <button class="navbar-toggler custom-toggler navbar-toggler-right mr-3 mr-md-4" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapsed-menu collapse navbar-collapse px-3 py-3 px-md-4 py-md-4 flex-row-reverse collapse" id="navbarNav">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item px-2 px-xl-3">
                            <a class="nav-link" href="{{url_for('main.howitworks')}}">How it Works</a>
                        </li>
                        <li class="nav-item px-2 px-xl-3">
                            <a class="nav-link" href="{{url_for('main.get_issues')}}">Issues</a>
                        </li>
                        <li class="nav-item px-2 px-xl-3">
                            <a class="nav-link" href="{{url_for('main.get_cats')}}">Categories</a>
                        </li>
                        <li class="nav-item px-2 px-xl-3">
                            <a class="nav-link" href="{{url_for('main.contact')}}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div>
            {% block content %} {% endblock %}
        </div>
    </div>
    </div>

    <footer class="footer page-footer mt-3">

        <section class="footer-links container py-1 py-lg-3 mb-4">
            <div class="row">

                <div class="col-12">
                    <h5 class="text-center mb-1">Let's Stay Close</h5>
                    <!-- Shown only on mobile -->
                    <div class="row d-sm-block d-md-none">
                        <div class="col mb-1">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="px-1"><a href="https://www.facebook.com" target="_blank"><img src="{{url_for('static', filename='images/icon_FB.png')}}" width="30" alt="Facebook"></a></div>
                                <div class="px-1"><a href="https://www.instagram.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Instagram.png')}}" width="30" alt="Instagram"></a></div>
                                <div class="px-1"><a href="https://www.twitter.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Twitter.png')}}" width="30" alt="Twitter"></a></div>
                                <div class="px-1"><a href="https://www.linkedin.com" target="_blank"><img src="{{url_for('static', filename='images/icon_LinkedIn.png')}}" width="30" alt="LinkedIn"></a></div>
                                <div class="px-1"><a href="https://www.pinterest.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Pinterest.png')}}" width="30" alt="Pinterest"></a></div>
                            </div>        
                        </div>
                    </div>
                    <!-------------------------->
                </div>

            </div>

            <div class="row">

                <!-- Shown only on desktop and larger -->
                <div class="col-12 d-md-block">
                    <div class="col-12 text-center">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="px-1"><a href="https://www.facebook.com" target="_blank"><img src="{{url_for('static', filename='images/icon_FB.png')}}" width="30" alt="Facebook"></a></div>
                            <div class="px-1"><a href="https://www.instagram.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Instagram.png')}}" width="30" alt="Instagram"></a></div>
                            <div class="px-1"><a href="https://www.twitter.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Twitter.png')}}" width="30" alt="Twitter"></a></div>
                            <div class="px-1"><a href="https://www.linkedin.com" target="_blank"><img src="{{url_for('static', filename='images/icon_LinkedIn.png')}}" width="30" alt="LinkedIn"></a></div>
                            <div class="px-1"><a href="https://www.pinterest.com" target="_blank"><img src="{{url_for('static', filename='images/icon_Pinterest.png')}}" width="30" alt="Pinterest"></a></div>
                        </div>        
                    </div>
                </div>
                <!-------------------------->

            </div>
        </section>

        <section class="copyright">
            <div class="container">
                <p>
                    Copyright &#169; 2020 MB Service Issue Tracker<sup>&#174;</sup>
                    <span>|</span><a href="#">Terms of Use</a>
                    <span>|</span><a href="#">Privacy Policy</a>
                    <span>|</span><a href="#">Unsubscribe</a>
                </p>
                <p class="rights-reserved">
                    MBPM SIT<sup>&#174;</sup> is a fictitious product and is not really a registered trademark of the fictitious company MB Property Management. All rights are not really reserved.
                </p>
            </div>
        </section>

    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap4-toggle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>