{% extends "base.html" %}

{#
    The word "content" can be almost anything. However, that
    word would have to be the same in the {%block%} in base.html
#}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="form-heading">Categories</h2>
            </div>
        </div>
        <div class="row mt-1 mb-3">
            <div class="col-12 col-md-10 offset-md-1 panel">
                <!-- Hidden on mobile -->
                <div class="row heading d-none d-md-flex">
                    <div class="col-md-3"><h5>Category Id</h5></div>
                    <div class="col-md-3"><h5>Category</h5></div>
                    <div class="col-md-3"><h5>Description</h5></div>
                    <div class="col-md-3 pl-4"><h5>Status</h5></div>
                </div>
                <!---------------------->

                <hr>

                {% for cat in cats %}
                <!-- Hidden on mobile -->                
                <div class="row d-none d-md-flex">
                    <div class="col-md-3"><a class="btn btn-link-sit btn-link-sit-nm" href="{{ url_for('main.edit_cat', cat_id=cat['catId']) }}">{{ cat['catId'] }}</a></div>
                    <div class="col-md-3"><p>{{ cat['catName'] }}</p></div>
                    <div class="col-md-3"><p>{{ cat['catDesc'] }}</p></div>
                    <div class="col-md-3 pl-4"><p>{{ cat['catStatus'] }}<a class="cta-edit" href="{{ url_for('main.edit_cat', cat_id=cat['catId']) }}" data-toggle-1="tooltip" data-placement="top" title="Click to edit category"><i class="cta-icon last-col fa fa-pencil"></i></a></p></div>
                </div>
                <!---------------------->

                <!-- Hidden on desktop -->
                <div class="row d-md-none">
                    <div class="col-12">
                        <p><span class="detail-label">Category Id: </span>{{ cat['catId'] }}</p>
                        <p><span class="detail-label">Category: </span>{{ cat['catName'] }}</p>
                        <p><span class="detail-label">Description: </span>{{ cat['catDesc'] }}</p>
                        <p><span class="detail-label">Status: </span>{{ cat['catStatus'] }}</p>
                        <p class="text-center">
                            <a
                                class="btn btn-sit btn-sit-cta-edit" role="button" href="{{ url_for('main.edit_cat', cat_id=cat['catId']) }}">
                                Edit Category
                            </a>            
                        </p>
                    </div>
                </div>
                <!---------------------->

                <hr>

                {% else %}
                <p>No categories found</p>
                {% endfor %}
            </div>
        </div>
        <div class="row pt-1 text-right">
            <div class="col-12 col-md-10 offset-md-1">
                <a href="{{ url_for('main.add_cat') }}" class="btn btn-sit btn-sit-cta-add">Add Category</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}
