{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2 class="form-heading">Edit Issue</h2>
            </div>
            <form class="form-container col-12 col-md-8 edit-form" action="{{url_for('main.upd_issue', issue_id=issue['issueId'])}}" method="POST">
                <div class="container mb-2 pb-1">
                    <div class="row panel form-static-panel justify-content-center mt-2">
                        <div class="col-12">
                            <div class="row form-static-panel-row">
                                <div class="col-6 text-right">
                                    <p><strong>Modified By: </strong></p>
                                </div>
                                <div class="col-6">
                                    <p>{# nameconcat user.first_name user.last_name #}Michael Brown</p>
                                </div>
                            </div>
                            <div class="row form-static-panel-row">
                                <div class="col-6 text-right">
                                    <p><strong>Email:</strong></p>
                                </div>
                                <div class="col-6">
                                    <p>{# user.email #}mb@mb.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="fancy">
                <div class="row pt-2">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="cat">Category *</label>
                            <select id="cat" name="cat-id" class="cat-sel sit-required" aria-describedby="category options">
                                {% for cat in cats %}
                                    {% if issue['catId'] == cat['catId'] %}
                                    <option value="{{cat['catId']}}" selected aria-selected="{{cat['catName']}}">{{cat['catName']}}</option>
                                    {% else %}
                                    <option value="{{cat['catId']}}" aria-describedby="{{cat['catName']}}">{{cat['catName']}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="iss-subj">Issue Subject *</label>
                            <input id="iss-subj" name="iss-subj" type="text" class="form-control" minlength="1" maxlength="40" value="{{issue['issueSubj']}}">
                        </div>
                        <div class="form-group">
                            <label for="id_desc">Detailed Issue Description *</label>
                            <div class="">
                                <textarea name="iss-desc" cols="70" rows="10" class="form-control sit-required char-countdown form-control" aria-describedby="issue description" placeholder="Enter detailed issue description" minlength="1" maxlength="1000" required>{{issue['issueDesc']}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="char-count">
                    <div class="col-6 text-left">
                        <label class="m-l-10">Issue is Urgent </label>
                        {% if issue['urgent'] == 'Yes' %}
                        <input type="checkbox" checked name="is-urgent" data-toggle="toggle" data-on="<i class='fa fa-exclamation'></i> Yes" data-off="No" data-style="ios slow" data-size="xs" data-onstyle="danger" />
                        {% else %}
                        <input type="checkbox" name="is-urgent" data-toggle="toggle" data-on="<i class='fa fa-exclamation'></i> Yes" data-off="No" data-style="ios slow" data-size="xs" data-onstyle="danger" />
                        {% endif %}
                    </div>
                    <div class="col-6 text-right">
                        <small class="form-text">Characters remaining: <span class="char-count">{{chars_remaining}}</span></small>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="offset-md-1 col-5">
                        <p class="text-center">
                            <a href="{{url_for('main.get_issues')}}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-100">Cancel</a>
                        </p>
                    </div>
                    <div class="col-5">
                        <p class="text-center">
                            <button id="submit-btn" type="submit-btn" name="submit-btn" class="btn btn-sit btn-sit-submit w-100 sit-disabled">Save Issue</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}