{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2 class="form-heading">Edit Category</h2>
            </div>
            <form class="form-container col-12 col-md-8 edit-form" action="{{url_for('main.upd_cat', cat_id=cat['catId'])}}" method="POST">
                <div class="container mb-2 pb-1">
                    <div class="row panel form-static-panel justify-content-center mt-2">
                        <div class="col-12">
                            <div class="row form-static-panel-row">
                                <div class="col-6 text-right">
                                    <p><strong>Modified By: </strong></p>
                                </div>
                                <div class="col-6">
                                    <p>{# nameconcat user.first_name user.last_name #}Michael Brown</p>
                                </div>
                            </div>
                            <div class="row form-static-panel-row">
                                <div class="col-6 text-right">
                                    <p><strong>Email:</strong></p>
                                </div>
                                <div class="col-6">
                                    <p>{# user.email #}mb@mb.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="fancy">
                <div class="row pt-2">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="cat-name" class="control-label">Category Name</label>
                            <input id="cat-name" name="cat-name" type="text" class="form-control" value="{{cat['catName']}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="cat_desc" class="control-label ">Description</label>
                            <input id="cat-desc" name="cat-desc" type="text" class="form-control" minlength="1" maxlength="60" value="{{cat['catDesc']}}" placeholder="Category description (Max 60 characters)">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 text-left">
                        {% if cat['catActive'] %}
                        <input type="checkbox" checked name="is-active" data-toggle="toggle" data-on="<i class='fa fa-cogs'></i> Active" data-off="Not Active" data-style="ios slow" data-onstyle="success" />
                        {% else %}
                        <input type="checkbox" name="is-active" data-toggle="toggle" data-on="<i class='fa fa-cogs'></i> Active" data-off="Not Active" data-style="ios slow" data-onstyle="success" />
                        {% endif %}
                    </div>
                </div>

                <hr class="fancy">

                <div class="row mt-4">
                    <div class="offset-md-1 col-5">
                        <p class="text-center">
                            <a href="{{url_for('main.get_cats')}}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-100">Cancel</a>
                        </p>
                    </div>
                    <div class="col-5">
                        <p class="text-center">
                            <button id="submit-btn" type="submit" name="submit-btn" class="btn btn-sit btn-sit-submit w-100 sit-disabled">Save Category</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}