{% extends "base.html"%}

{% block content %}

<section class="container">
    <div class="row mx-auto">
        <div class="col-12 text-center">
            <h1>Welcome to the MBPM Service Issue Tracker (SIT)</h1>
            <h4>
                This is your place to enter issues regarding your property. At MB Property Managment we try to ensure that all properties are
                maintained to the highest standard. However, things do go wrong at times. In addition, you may have some brilliant ideas on how
                to improve the property. You may have questions. You may even want to comment on the service you received. Please click on the 
                ISSUES menu item or click the button below to go to the Issues page.
            </h4>
        </div>
        <div class="col-xs-12 offset-md-4 col-md-4 text-center">
            <a href="{{url_for('main.get_issues')}}" class="btn btn-sit btn-sit-cta">Issues Page</a>
        </div>
    </div>
</section>

{% endblock %}