{% extends "base.html" %}

{#
    The word "content" can be almost anything. However, that
    word would have to be the same in the {%block%} in base.html
#}
{% block content %}

<section>
    <div class="container">
        <h2 class="form-heading">Issues</h2>
        <div class="row panel mt-1 mb-3">
            <div class="col-12 text-right align-self-center">
                {% if omitted_cats == False and omitted_status == False %}
                <a href="/" data-toggle="modal" data-target="#filter-modal" data-toggle-1="tooltip" data-placement="right" title="Click to filter issues"><i class="cta-icon fa fa-filter fa-2x"></i></a>
                {% else %}
                <span class="cta-icon-on">Filter Applied</span>
                <a href="/" data-toggle="modal" data-target="#filter-modal" data-toggle-1="tooltip" data-placement="right" title="Click to filter issues"><i class="cta-icon cta-icon-on fa fa-filter fa-2x"></i></a>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="row heading">
                    <div class="col-md-2"><h5>Category</h5></div>
                    <div class="col-md-2"><h5>Issue Id</h5></div>
                    <div class="col-md-3"><h5>Issue</h5></div>
                    <div class="col-md-2"><h5>Date Added</h5></div>
                    <div class="col-md-2 pl-4"><h5>Status</h5></div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>

            {% for issue in issues %}
            <div class="col-12">
                <div class="row">
                    <div class="col-md-2"><p><a class="toggle-caret" href="#details-{{issue['issueId']}}" data-toggle="collapse" data-toggle-1="tooltip" data-placement="top" data-title-alt="Click to hide details" data-id="{{issue['issueId']}}" title="Click to view details"><i id="caret-widget-{{issue['issueId']}}" class="cta-icon view-details fa fa-caret-right"></i></a>{{issue['catName']}}</p></div>
                    {% if issue['issueStatusVal'] != resolved() %}
                    <div class="col-md-2"><a class="btn btn-link-sit" href="{{url_for('main.edit_issue', issue_id=issue['issueId'])}}" data-toggle-1="tooltip" data-placement="top" title="Click to edit issue">{{issue['issueId']}}</a></div>
                    {% else %}
                    <div class="col-md-2"><a class="btn btn-link-sit" href="#" data-toggle-1="tooltip" data-placement="top" title="Issue resolved. Cannot edit.">{{issue['issueId']}}</a></div>
                    {% endif %}
                    <div class="col-md-3"><p>{{issue['issueSubj']}}</p></div>
                    <div class="col-md-2"><p>{{issue['dateAdded']}}</p></div>
                    <div class="col-md-2 pl-4">
                        <p>
                            {{issue['issueStatus']}}
                            {% if issue['issueStatusVal'] != resolved() %}
                                <a 
                                    class="cta-edit" href="{{url_for('main.edit_issue', issue_id=issue['issueId'])}}" data-toggle-1="tooltip" data-placement="top" title="Click to edit issue">
                                    {% if issue['urgent'] == 'Yes' %}
                                    <i class="cta-icon emphasis-colour last-col fa fa-pencil"></i>
                                    {% else %}
                                    <i class="cta-icon last-col fa fa-pencil"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                            <a 
                                class="cta-edit" href="#" data-toggle-1="tooltip" data-placement="top" title="Issue resolved. Cannot edit.">
                                {% if issue['urgent'] == 'Yes' %}
                                <i class="cta-icon emphasis-colour last-col fa fa-eye"></i>
                                {% else %}
                                <i class="cta-icon last-col fa fa-eye"></i>
                                {% endif %}
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- Issue details -->
                <div class="container">

                    <!-- Having the panel inside the div.collapse results in a smoother collapse. -->
                    <div id="details-{{issue['issueId']}}" class="collapse">
                        <div class="row panel details-panel">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Id:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['issueId']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Added By:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['addedByName']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Date Added:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['dateAdded']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Issue:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['issueSubj']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Description:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['issueDesc']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Urgent:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        {% if issue['urgent'] == 'Yes' %}
                                        <p class="detail-data emphasis-colour">{{issue['urgent']}}</p>
                                        {% else %}
                                        <p class="detail-data">{{issue['urgent']}}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Status:</p>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <p class="detail-data">{{issue['issueStatus']}}</p>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        {% if issue['issueStatusVal'] < viewed() %}
                                        <a href="{{url_for('main.upd_issue_status', issue_id=issue['issueId'], issue_status=viewed())}}" data-toggle-1="tooltip" data-placement="top" title="Click to change status to 'Viewed'"><i class="cta-icon fa fa-eye"></i></a>
                                        {% endif %}
                                        {% if issue['issueStatusVal'] < resolved() %}
                                            <span class="mx-3"></span>
                                        <a class="resolve-iss" href="/" data-toggle="modal" data-target="#resolve-modal" data-toggle-1="tooltip" data-placement="top" data-iss-id="{{issue['issueId']}}" data-iss-subj="{{issue['issueSubj']}}" title="Click to change status to 'Resolved'"><i class="cta-icon fa fa-check"></i></a>
                                        {% endif %}
                                        {% if issue['issueStatusVal'] != notviewed() and testing() %}
                                            <span class="mx-3"></span>
                                        <a href="{{url_for('main.upd_issue_status', issue_id=issue['issueId'], issue_status=notviewed())}}" data-toggle-1="tooltip" data-placement="top" title="Click to change status to 'Not Viewed'"><i class="cta-icon fa fa-eye-slash"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if issue['issueStatusVal'] == resolved() %}
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Date Resolved:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['dateResolved']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-2">
                                        <p class="details-label">Resolved By:</p>
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <p class="detail-data">{{issue['resolvedByName']}}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            {% else %}
            <p>No issues found</p>
            {% endfor %}
        </div>
    </div>

    <div class="row pt-3 text-right">
        <div class="col-xs-12 offset-md-9 col-md-3">
            <a href="{{url_for('main.add_issue')}}" class="btn btn-sit btn-sit-cta-add">Add Issue</a>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="resolve-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Issue Resolved</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 center-block">
                            <form class="form-container" action="{{url_for('main.resolve_issue')}}" method="POST">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="curr-iss-id" class="control-label">Issue Id: </label>
                                                <input type="text" id="curr-iss-id" name="curr-iss-id" aria-readonly="readonly" value="" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="curr-iss-subj" class="control-label">Issue Subject: </label>
                                                <input type="text" id="curr-iss-subj" name="curr-iss-subj" aria-readonly="readonly" value="" readonly />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="iss-res-desc">Resolution Detail *</label>
                                                <div class="">
                                                    <textarea name="iss-res-desc" cols="100" rows="10" class="form-control sit-required char-countdown form-control" aria-describedby="issue resolution description" placeholder="Enter detailed resolution description" minlength="1" maxlength="1000" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="char-count">
                                        <div class="col-12 text-right">
                                            <small class="form-text">Characters remaining: <span class="char-count">1000</span></small>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="offset-md-1 col-5">
                                            <p class="text-center">
                                                <a href="{{url_for('main.get_issues')}}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-100">Cancel</a>
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-center">
                                                <button id="submit-btn" type="submit-btn" name="submit-btn" class="btn btn-sit btn-sit-submit w-100 sit-disabled">Resolved</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="filter-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Filter Issues</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="form-container" action="{{url_for('main.get_issues')}}" method="POST">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4>Category Filters</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4>Issue Status Filters</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row mb-1">
                                                <div class="col-6 text-right">
                                                    <label>All Categories</label>
                                                </div>
                                                <div class="col-6">
                                                    {% if omitted_cats %}
                                                    <button id="all-cats-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-not-selected"></button>
                                                    {% else %}
                                                    <button id="all-cats-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-selected"></button>
                                                    {% endif %}
                                                </div>
                                            </div>    
                                            {% for cat in config.CATS %}
                                            <div class="row mb-1">
                                                <div class="col-6 text-right">
                                                    <label>{{cat['catName']}}s</label>
                                                </div>
                                                <div class="col-6">
                                                    {%if cat['filter_status'] == "0" %}
                                                    <button name="{{cat['catName']}}-{{cat['catId']}}" class="cat-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-not-selected" value="0"></button>
                                                    <input class="hide cat-filter-toggle" name="cat-{{cat['catId']}}" value="0" />
                                                    {% else %}
                                                    <button name="{{cat['catName']}}-{{cat['catId']}}" class="cat-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-selected" value="1"></button>
                                                    <input class="hide cat-filter-toggle" name="cat-{{cat['catId']}}" value="1" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-6">
                                            <div class="row mb-1">
                                                <div class="col-6 text-right">
                                                    <label>All Statuses</label>
                                                </div>
                                                <div class="col-6">
                                                    {% if omitted_status %}
                                                    <button id="all-iss-status-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-not-selected"></button>
                                                    {% else %}
                                                    <button id="all-iss-status-toggle" class="btn btn-sit-modal btn-sit-switch-control filter-selected"></button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% for k, v in config.ISS_STATUS.items() %}    
                                            <div class="row mb-1">
                                                <div class="col-6 text-right">
                                                    <label>{{v['display']}}</label>
                                                </div>
                                                <div class="col-6">
                                                    {% if v['filter_status'] == "0" %}
                                                    <button name="{{key}}-{{v['id']}}" class="iss-status-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-not-selected" value="0"></button>
                                                    <input class="hide iss-status-filter-toggle" name="status-{{v['id']}}" value="0" />
                                                    {% else %}
                                                    <button name="{{key}}-{{v['id']}}" class="iss-status-filter-toggle btn btn-sit-modal btn-sit-switch-control filter-selected" value="1"></button>
                                                    <input class="hide iss-status-filter-toggle" name="status-{{v['id']}}" value="1" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row mt-3 pt-3">
                                        <div class="offset-md-1 col-5">
                                            <p class="text-center">
                                                <a href="{{url_for('main.get_issues')}}" role="button" id="cancel-btn" name="cancel-btn" class="btn btn-sit destructive w-100">Cancel</a>
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <p class="text-center">
                                                <button id="submit-btn" type="submit-btn" name="submit-btn" class="btn btn-sit btn-sit-submit w-100">Filter</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
