{% extends "base.html" %}

{% block content %}				 
<div class="container">
    <section class="login-form">
        <main role="main" class="container">
            <h3 class="text-center mt-3 mb-3">Login</h3>
            <div class="row justify-content-center">
                <form class="form-container col-10 col-md-5" action="{{url_for('auth.login')}}" method="POST">
                    <div class="form-group">
                        <label for="email">Email Address *</label>
                        <input id="email" type="email" name="email" class="form-control sit-required form-control" aria-describedby="email address" placeholder="Enter email address" maxlength="40" minlength="3" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" aria-describedby="password" placeholder="Password" minlength="8" maxlength="11" class="form-control" />
                    </div>
                    <p class="text-center">
                        <button type="submit" name="submit" class="btn btn-primary btn-sit w-100 mt-2 btn-login">Login</button>
                    </p>
                    <p class="text-center mt-3">Don't have an account?
                        <br>
                        <a href="#">Create a New Account</a>
                    </p>
                    <hr>
                    <div class="mt-3 text-center">
                        <a href="#">Forgot Password</a>
                    </div>
                </form>
            </div>
        </main>
    </section>
</div>
{% endblock %}